<div class="form-floating my-3">
	<input type="text" name="{{name}}" class="form-control" value="{{ value }}" id="{{name}}" placeholder="{{label}}">
	<label for="floatingPassword">{{label}}</label>
</div>
